.structure-type-item,
.structure-type-select .MuiSelect-select {
  display: flex;
  align-items: center;
  padding: 12px 12px 12px 12px;

  & .structure-type-item-icon {
    margin-right: 12px;

    & .MuiSvgIcon-root {
      vertical-align: middle;
    }
  }
}

.structure-type-select .MuiSelect-select {
  width: 200px;
}

.list-of-type {
  display: inline-block;
  margin: 0 16px;
}

.choices-field {
  margin-top: 16px;
}
