/* todo hm, maybe we cycle through colors per variable. same list every time though? */
.variable {
  font-family: 'Roboto Mono', monospace;
  font-size: 10pt;
  background-color: var(--reagent-purple);
  border: 1px solid white;
  color: white;
  padding: 2px 6px;
  margin: 0 1px;
  border-radius: 4px;
  display: inline-flex;
  align-self: center;
  align-items: center;
  /* box-sizing: border-box; */
  user-select: none; /* idk it doesn't work when you're actually in the slate editor */
  vertical-align: middle;

  &.selected {
    /* background-color: #135388; */
    box-shadow: 0 0 8px -2px var(--reagent-purple);
    border: 1px solid #0c2336;
  }
}

.slate-skeleton {
  margin: auto;
  margin-top: 20px;
}

.slate-wrapper {
  /* margin: auto; */
  /* margin-top: 20px; */
}

.slate-wrapper [role='textbox'] {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 3px;

  /* active */
  &:focus {
    outline-color: var(--reagent-purple);
  }

  & p {
    padding: 0;
  }

  & p:last-child {
    margin-bottom: 0;
  }
}

.slate-wrapper-main [role='textbox'] {
  min-height: 400px;
}

.chat-turn {
  user-select: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;

  & .chat-turn-inner {
    /* display: inline-block;
    border-radius: 5px; */

    &.selected .chat-turn-button {
      box-shadow: 0 0 2px 2px var(--reagent-purple);
    }
  }

  & .chat-turn-button {
    display: inline-block;
    border-radius: 5px;
    /* border: 1px solid #ccc; */
    background: #eee;
    padding: 8px;
    margin: 4px 0;
    cursor: pointer;

    user-select: none;

    font-weight: bold;

    &.chat-turn-button-user {
      /* margin-left: 20%; */
    }

    &:hover {
      background: #ddd;
    }
  }
}
