POSTGRES_PASSWORD=xxxx
SHARED_Y_WEBSOCKET_SERVER_SECRET=xxxx

GITHUB_CLIENT_ID=xxxx
GITHUB_CLIENT_SECRET=xxxx

SESSION_SECRET=xxxx

MINIO_ROOT_PASSWORD=xxxx
OBJECT_STORAGE_ACCESS_KEY=xxxx
OBJECT_STORAGE_SECRET_KEY=xxxx
