.noggin-list {
  max-width: 800px;
}

.noggin-card {
  & a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    font-size: 16pt;

    &:hover {
      background-color: #eee;
    }
  }
}