/* todo hm, maybe we cycle through colors per parameter. same list every time though? */
.parameter {
  /* material blue */
  background-color: #2196f3;
  border: 1px solid white;
  color: white;
  padding: 2px 6px;
  margin: 0 1px;
  border-radius: 3px;
  /* box-sizing: border-box; */

  &.selected {
    /* background-color: #135388; */
    border: 1px solid #0c2336;
  }
}

.slate-wrapper [role=textbox] {
  border: 1px solid #ccc;
  padding: 24px;
  min-height: 400px;
  border-radius: 0;

  /* active */
  &:focus {
    outline-color: var(--reagent-purple);
  }
}

.chat-turn {
  user-select: none;

  & .chat-turn-inner {
    /* display: inline-block;
    border-radius: 5px; */

    &.selected .chat-turn-button {
      box-shadow: 0 0 2px 2px var(--reagent-purple);
    }
  }

  & .chat-turn-button {
    display: inline-block;
    border-radius: 5px;
    /* border: 1px solid #ccc; */
    background: #eee;
    padding: 8px;
    margin: 4px 0;
    cursor: pointer;

    user-select: none;

    font-weight: bold;
  
    &.chat-turn-button-user {
      /* margin-left: 20%; */
    }

    &:hover {
      background: #ddd;
    }
  }
}

.parameter-control {
  .parameter-name-input {
    font-size: 18px;
    border: none;
    border-bottom: 1px solid black;
    padding: 4px;
    margin-bottom: 12px;
  }

  .parameter-max-length-input {
    font-size: 16px;
    padding: 2px;
  }
}